.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-layout__content {
    padding: 24px;
    flex: none;
}

.mdl-card {
    width: 42pc;
		/*height: 30pc;*/
}
.mdl-card__supporting-text {
    color: rgba(0,0,0, 0.54);


    /*height: 30pc;*/
    overflow: hidden;
    padding: 16px 16px;
    width: 106%;
}
.mdl-data-table {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-collapse: collapse;
    white-space: nowrap;
    WIDTH: 42pc;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
}

.container {

    width: 20pc;
}
